/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Custom Styles */
:root {
  --background-color: #f9fafb;
  --container-background-color: white;
  --text-color: #111827;
  --subtitle-text-color: #4b5563;
  --instructions-text-color: #4b5563;
  --details-background-color: #f9fafb;
  --details-text-color: #111827;
  --button-primary-color: #2563eb;
  --button-primary-hover-color: #1d4ed8;
  --button-secondary-color: #059669;
  --button-secondary-hover-color: #047857;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

.container {
  max-width: 32rem;
  margin: 4rem auto;
  padding: 1.5rem;
  background-color: var(--container-background-color);
  border-radius: 0.75rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.subtitle {
  color: var(--subtitle-text-color);
}

.instructions {
  font-size: 0.9rem;
  color: var(--instructions-text-color);
  font-style: italic;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 150ms;
}

.button:focus {
  outline: none;
}

.button-primary {
  background-color: var(--button-primary-color);
  color: white;
}

.button-primary:hover {
  background-color: var(--button-primary-hover-color);
}

.button-primary.connected,
.button-primary.connected:hover {
  opacity: 0.3;
  cursor: default;
}

.button-secondary {
  background-color: var(--button-secondary-color);
  color: white;
}

.button-secondary:hover {
  background-color: var(--button-secondary-hover-color);
}

.payment-details {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--details-background-color);
  border-radius: 0.5rem;
}

.payment-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.payment-row:last-child {
  margin-bottom: 0;
}

.payment-label {
  color: var(--details-text-color);
}

.payment-value {
  font-weight: 500;
}

.hidden {
  display: none;
}

.status {
  text-align: center;
  font-size: 0.875rem;
}